
body, nav, .navWrap {
	max-width: 100%;
}

#welcome {
	/*min-height: 50vh;*/
}

#info {
	width: 90%;
	max-width: 400px;
	padding: 0 20px;
	background: #F00;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	border-radius: 15px;
}

.admin-section {
	max-width: 1400px;
	padding: 5%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	min-height: 96vh;
}

.admin_wrap {
	max-width: 1000px;
}

#quill1 {
	background: #FFF;
}

.message {
	margin: 20px auto;
	max-width: 1000px;
}

.form-control[placeholder]
{
    text-align: left;
}

.img-container {
	padding: 3%;
	border: solid 1px #AAA;
	border-radius: 3%;
}

.modal {
   position: absolute;
   /*top: 10vh;*/
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-header, .modal-footer {
	border: none;
}

#imagesModalLabel {
	color: #000;
}

/* Add a "hidden" border so that the image size does not change */
.selection-white {
	border: solid 2px #FFF;
	border-radius: 3%;
}

.selection {
	border: solid 2px #000;
	border-radius: 3%;
}

.selection-image {
	margin: 10px 0;
}

#pagination {
	margin: 2% 0;
}

.upload-button {
	margin-right: 5px;
}

.imgUp, .imgDown, .imgDelete {
	position: relative;
	top: 40px;
	right: 10px;
	color: #FFF;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

@media screen and (min-width: 992px) {
	.imgUp, .imgDown, .imgDelete {
		visibility: hidden;
	}
}

#gallery-images:hover .imgUp,
#gallery-images:hover .imgDown,
#gallery-images:hover .imgDelete {
	visibility: visible;
}
