
body, nav, .navWrap {
	max-width: 100%;
}

#welcome {
	/*min-height: 50vh;*/
}

.admin-section {
	max-width: 1400px;
	padding: 5%;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.9);
	min-height: 96vh;
}

.admin_wrap {
	max-width: 1000px;
}

#quill1 {
	background: #FFF;
}

.message {
	margin: 20px auto;
	max-width: 1000px;
}

.form-control[placeholder]
{
    text-align: left;
}

.section-nav {
	padding: 40px;
}

.section-nav i {
	font-size: 60px;
	color: #016934;
}

.section-nav a {
	font-size: 27px;
	color: #016934;
	outline: 0;
}

.section-nav a:hover {
	text-decoration: none;
}

.section-nav-div {
	background: #9EC953;
	border: 1px solid #555;
	border-radius: 25px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 16px 0 rgba(0, 0, 0, 0.3);
	transition: box-shadow 0.8s;
	overflow: visible;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.section-nav-div:hover {
	border: 1px solid #777;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 16px 0 rgba(0, 0, 0, 0.8);
	text-decoration: none;
	background: #016934;
	color: #9EC953;
}

.section-nav-div:hover i {
	background: #016934;
	color: #9EC953;
}

.section-nav div {
	padding: 20px;
}

.breadcrumb {
	font-size: 20px;
	color: #016934;
	background: transparent;
	padding: 0;
}

.breadcrumb:hover {
	text-decoration: none;
	color: #9EC953;
	outline: 0;
}

.breadcrumb-end {
	font-size: 20px;
}

.img-container {
	padding: 20px;
	border: solid 1px #AAA;
	border-radius: 3%;
}

.modal {
   position: absolute;
   /*top: 10vh;*/
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   z-index: 10040;
   overflow: auto;
   overflow-y: auto;
}

.modal-header, .modal-footer {
	border: none;
}

.modal-content {
    color: #000;
}

#imagesModalLabel {
	color: #000;
}

/* Add a "hidden" border so that the image size does not change */
.selection-white {
	border: solid 2px #FFF;
	border-radius: 3%;
}

.selection {
	border: solid 2px #000;
	border-radius: 3%;
}

.selection-image {
	margin: 10px 0;
	padding: 5px;
}

#pagination {
	margin: 2% 0;
}

.categoryButton {
	margin: 15px;
}

.upload-button {
	margin-right: 5px;
}

.imgUp, .imgDown, .imgDelete {
	position: relative;
	top: 40px;
	right: 10px;
	color: #FFF;
	font-size: 20px;
	text-shadow: 1px 1px 1px #000;
}

@media screen and (min-width: 992px) {
	.imgUp, .imgDown, .imgDelete {
		visibility: hidden;
	}
}

#gallery-images:hover .imgUp,
#gallery-images:hover .imgDown,
#gallery-images:hover .imgDelete,
#carousel-images:hover .imgUp,
#carousel-images:hover .imgDown,
#carousel-images:hover .imgDelete {
	visibility: visible;
}

