/* 
	Brand colors css file for starkscapes.dev 

	--- Logo colors ---

	Yellowish Green 	#9EC953
	Forest Green 		#016934
*/

.navbar {
	background: #016934;
	/*background: rgba(1, 105, 52, 0.85);*/
}

.navbar .nav > li > a {
    color:  #FFF;
}

.navList li:hover {
	background: #9EC953;
	/*background: rgba(1, 105, 53, 0.5);*/
}

#about {
	color: #016934;
	background: #9EC953;
}

#map {
	color: #016934;
	background: #9EC953;
}

#services {
	color: #016934;
	background: #9EC953;
}

#gallery {
	color: #016934;
	background: #9EC953;
}

footer {
	background: #016934;
	/*background: rgba(1, 105, 52, 0.85);*/
}