/* Main css file for starkscapes.dev */

body {
	max-width: 100%;
	background-color: #FFEECC;
	/*background-color: #33FF11;*/
	font-family: Helvetica, Arial, sans-serif;
	background: url('/assets/images/grass_tiling.jpg');
	background-repeat: repeat;
}

header {
	padding-top: 50px;
}

.container-fluid {
	padding: 0;
}

#welcome {
	margin: 1% 1%;
}

/*--NAVIGATION--*/

.navbar-brand {
	padding-top: 0;
}

.navList {
	margin-right: 2%;
}

.navLink {
	margin: 0 2% 0 2%;
}

.navList li:hover {
	background: #444444;
}

/*--------------*/

#user {
	width: 90%;
	max-width: 400px;
	padding: 0 20px;
	margin: 5% auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	border-radius: 15px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*--HOME--*/

#home {
	/*max-width: 1800px;*/
	/*background: #fff;*/
	/*background: rgba(255, 255, 255, 0.9);*/
	overflow-x: hidden;
}

#myCarousel {
	margin: 0;
	padding: 0;
	background: #0f0;
}

.carouselImage {
	width: 100%;
	/*max-height: 600px;*/
}

#about {
	margin: 0;
	width: 100%;
	background: #0f0;
	/*background: rgba(0, 255, 0, 0.9);*/
	padding: 2%;
}

#aboutContent {
	margin: 0;
	padding: 0;
}

#servicesContent {

}

.service {
	padding: 5%;
}

#contact {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 600px;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
}

footer {
	width: 100%;
	margin: 0;
	padding: 0;
	min-height: 200px;
	background: #000;
	background: rgba(0, 0, 0, 0.9);
}

/*--------*/








@media screen and (max-width: 700px) {
	#home {
		padding: 0;
	}
}

@media screen and (min-width: 701px) {
	#home {
		/*padding: 0 50px;*/
	}	
}
