/* 
	Main css file for starkscapes.dev

	--- Logo colors ---

	Yellowish Green 	#9EC953
	Forest Green 		#016934

	Neon Green 			#36f900
*/

body {
	max-width: 100%;
	background: #000;
	/*background: url('/assets/images/grass_tiling.jpg');*/
	/*background-repeat: repeat;*/
	/*background: url('/assets/images/Forest.jpg');*/
	/*background: url('/assets/images/field.jpg') no-repeat center center fixed;*/
	/*-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;*/
	/*background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 50%;*/
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	max-width: 1300px;
	margin: 0 auto;
}

header {
	/*padding-top: 50px;*/
}

li {
	list-style-type: square;
}

.fa {
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding: 0;
}

/* Content from CKEditor */
.content {
	padding: 15px;
}

.marquee {
	height: 20px;	
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	background: #000;
}
.marquee p {
	font-size: 18px;
	color: #FFF;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	line-height: 18px;
	text-align: center;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: marquee 15s linear infinite;
	-webkit-animation: marquee 15s linear infinite;
	animation: marquee 15s linear infinite;
}

.marquee p:hover {
	-moz-animation-play-state: paused;
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
 }

.marquee p span {
	margin: 0 5%;
}

/* Move it (define the animation) */
@-moz-keyframes marquee {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}

@-webkit-keyframes marquee {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}

@keyframes marquee {
	0%   { 
	-moz-transform: translateX(100%); /* Firefox bug fix */
	-webkit-transform: translateX(100%); /* Firefox bug fix */
	transform: translateX(100%); 		
	}
	100% { 
	-moz-transform: translateX(-100%); /* Firefox bug fix */
	-webkit-transform: translateX(-100%); /* Firefox bug fix */
	transform: translateX(-100%); 
	}
}

/*--NAVIGATION--*/

.navWrap {
	/*position: fixed;
	left: 0;
	right: 0;*/
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}

nav {
	/*margin: 0;*/
	/*padding: 0;*/
	/*max-width: 1400px;
	margin: 0 auto;*/
	max-width: 1300px;
}

.navbar {
	/*background: transparent;
	border-color: transparent;*/
	background: #000;
	/*background: rgba(0, 0, 0, 0.85);*/
	border: none;
	border-radius: 0;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0 !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
	/*padding-top: 0;*/
}

.logo {
	/*max-width: 1300px;*/
	width: 100%;
	margin: 0 auto;
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	/*position: fixed;*/
	/*top: 0;*/
}

#navLogo {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.navList {
	/*margin-right: 2%;*/
}

.navLink {
	margin: 0 12%;
	color: #FFF;
}

.navList li {
	/*margin-top: 5px;*/
	background: #000;
	margin-bottom: -5px;
}

.navbar .nav > li > a {
    color:  #FFF;
    display: block;
    margin: 0;
    padding: 0 25px;
    line-height: 50px;
}

.navbar .nav > .active > a {
	background: #FFF;
    color:  #000;
}

@media screen and (max-width: 767px) {
	.navbar .nav > .active > a {
	background: #FFF;
    color:  #000;
    width: 90vw;
}
}

.navbar .nav > .active {
	background: #FFF;
}

.navbar .nav > li:hover a {
	background: transparent;
    color:  #FFF;
}

.navbar .nav > .active:hover a {
	background: transparent;
    color:  #FFF;
}

.navList li:hover {
	background: #666;
	background: rgba(150, 150, 150, 0.7);
	background: #016934;
}

.navList .active:hover {
	background: #666;
	background: rgba(150, 150, 150, 0.7);
	background: #016934;
}

/*--------------*/

.error {
	color: #f00;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*--HOME--*/

#home {
	/*background: #fff;*/
	/*background: rgba(255, 255, 255, 0.9);*/
	overflow-x: hidden;
	padding: 0;
	/*max-width: 95%;*/
	/*max-width: 1300px;*/
	/*max-width: 1300px;
	margin: 0 auto;*/
}

@media screen and (max-width: 700px) {
	#home {
		padding: 0;
	}
}

@media screen and (min-width: 701px) {
	#home {
		/*padding: 0 50px;*/
	}	
}

#myCarousel {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
	background: #FFF;
	overflow: hidden;
}

.carouselImage {
	width: 100%;
	max-height: 700px;
}

#about {
	margin: 0;
	width: 100%;
	background: #36f900;
	background: rgba(0, 255, 0, 0.85);
	background: rgba(1, 105, 52, 0.8);
	color: #FFF;
	padding: 2%;
}

#servicesOverview {
	background: url('/assets/images/grass_tiling.jpg');
	background-repeat: repeat;
}

.services-overview-anchor {
	display: inline-block;
}

.services-overview-anchor:hover {
	outline: 0;
	text-decoration: none;
}

.services-overview-div {
	margin: 35px auto;
	width: 240px;
	height: 240px;
	border: 1px solid #555;
	border-radius: 50%;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.6), 0 3px 10px 0 rgba(0, 0, 0, 0.6);
	transition: box-shadow 0.5s;
	overflow: visible;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.services-overview-div:hover {
	border: 1px solid #777;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 16px 0 rgba(0, 0, 0, 0.8);
	text-decoration: none;
}

.services-overview-div span {
	width: 240px;
	height: 240px;
	font-size: 22pt;
	color: #FFF;
	text-shadow: 2px 2px 4px #000;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
	.services-overview-div {
		width: 200px;
		height: 200px;
	}

	.services-overview-div span {
		width: 200px;
		height: 200px;
		font-size: 18pt;
	}
}

@media only screen and (max-width: 400px) {
	.services-overview-div {
		width: 200px;
		height: 200px;
	}

	.services-overview-div span {
		width: 200px;
		height: 200px;
		font-size: 18pt;
	}
}

#contact {
	width: 100%;
	margin: 0;
	padding: 3% 5%;
	background: #FFF;
	/*background: rgba(255, 255, 255, 0.9);*/
	background: #FFF;
}

.fa-star {
	color: #F00;
	font-size: 80%;
	vertical-align: top;
}

.form-control[placeholder]
{
    text-align: center;
}

textarea {
	resize: none;
}

.contactSuccess {
	margin-top: 170px;
	margin-bottom: 170px;
}

#map {
	background: #36f900;
	background: rgba(0, 255, 0, 0.85);
	background: rgba(1, 105, 52, 0.8);
	color: #FFF;
}

#gmap {
	width: 450px;
	height: 250px;
	border: 0;
	margin: 5%;
}

@media screen and (max-width: 500px) {
	#gmap {
		width: 80vw;
	}	
}

#county {
	margin: 5%;
}

.counties {
	width: 180px;
	margin: 5% auto;
	font-size: 110%;
}

footer {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #000;
	/*background: rgba(0, 0, 0, 0.85);*/
	overflow: hidden;
	/*max-width: 1400px;
	margin: 0 auto;*/
	max-width: 1300px;
	margin: 0 auto;
}

.footerItem {
	margin: 30px 0;
}

.hours {
	width: 45%;
	margin: 0 auto;
}

.greenText {
	color: #36f900;
	font-weight: 900;
}

.serviceList {
	margin: 0 auto;
	max-width: 250px;
}

.serviceFooter {
	text-align: left;
}

/*--------*/

/*--SERVICES--*/

#services {
	background: #fff;
	background: #e0eec7;
	padding: 2%;
}

.service-section {
	padding-top: 2%;
	background: transparent;
	border: none;
	box-shadow: none;
}

.service-panel {
	color: #111;
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.8);
}

#lawn-care-panel {
	background: #77c953;
	background: #9EC953;
}

#landscaping-panel {
	background: #c9b953;
	background: #016934;
}

#snow-removal-panel {
	background: #e0eec7;
	background: #fff;
}

.services {
	padding: 0% 5%;
}

.service-image {
	/*box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.8);*/
	/*max-width: 200px;*/
	margin-top: 2%;
	margin-bottom: 2%;
}

/*------------*/

/*--GALLERY--*/

#gallery {
	background: #fff;
	padding: 2%;
	min-height: 50vh;
	position: relative;
	overflow: hidden;
}

#categories {
	background: #000;
	margin: 2% -2.1% 0;
}

.categories {
	margin: 0;
	padding: 0;
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	#categories {
		padding: 10px;
	}
}

.categories a {
	padding: 5px;
}

.categories:hover {
	background: #016934;
}

.categories:hover a {
	color: #FFF;
}

.categories a {
	color: #FFF;
	text-decoration: none;
	font-weight: 900;
	display: block;
}

.activeCategory {
	background: #FFF;
}

.activeCategory a {
	color: #000;
}

.imgThumbnail {
	margin: 14px 0;
}

.imgThumbnail:hover {
	cursor: pointer;
}

#pagination {
	width: 100%;
	position: absolute;
	bottom: 0;
}

.pagination a {
	width: 100%;
	padding: 0 8px;
	display: inline-block;
}

.pagination:hover {
	background: #016934;
}

.pagination {
	margin: 0 -1px;
	min-width: 30px;
	font-size: 140%;
	background: #000;
	border-radius: 0;
	border: 1px #444 solid;
}

.pagination a {
	color: #FFF;
	text-decoration: none;
}

.pagination-cur {
	color: #000;
	background: #FFF;
}

/*-----------*/

/*--CONTACT--*/

#contactPage {
	width: 100%;
	margin: 0;
	padding: 3% 5%;
	background: #FFF;
}

#contactPageContent {
	min-height: 52vh;
}

/*-----------*/

/*---LOGIN---*/

#login {
	min-height: 50vh;
}

#user {
	width: 90%;
	max-width: 400px;
	padding: 0 20px;
	margin: 10% auto;
	background: #FFF;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	border-radius: 15px;
}

/*-----------*/
