/* 
	Main css file for starkscapes.dev

	--- Logo colors ---

	Yellowish Green 	#9EC953
	Forest Green 		#016934
*/

body {
	max-width: 100%;
	background: #000;
	background: url('/assets/images/grass_tiling.jpg');
	background-repeat: repeat;
	font-family: Montserrat, Helvetica, Arial, sans-serif;
	max-width: 1300px;
	margin: 0 auto;
}

header {
	/*padding-top: 50px;*/
}



.fa {
	margin: 0;
	padding: 0;
}

.container-fluid {
	padding: 0;
}

#welcome {
	margin: 1% 1%;
}

/*--NAVIGATION--*/

.navWrap {
	/*position: fixed;
	left: 0;
	right: 0;*/
	margin: 0 auto;
	max-width: 1300px;
	width: 100%;
	z-index: 100;
	overflow: hidden;
}

nav {
	/*margin: 0;*/
	/*padding: 0;*/
	/*max-width: 1400px;
	margin: 0 auto;*/
	/*position: fixed;
	max-width: 1300px;
	margin: 0 auto;*/
}

.navbar {
	/*background-color: transparent;
	background: transparent;
	border-color: transparent;*/
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	border: none;
	border-radius: 0;
	width: 100%;
	margin: 0 auto;
	margin-bottom: 0 !important;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
}

.navbar .navbar-collapse {
    text-align: center;
}

.navbar-brand {
	/*padding-top: 0;*/
}

.logo {
	/*max-width: 1300px;*/
	width: 100%;
	margin: 0 auto;
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	/*position: fixed;*/
	/*top: 0;*/
}

#navLogo {
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.navList {
	/*margin-right: 2%;*/
}

.navLink {
	margin: 0 12%;
}

.navList li {
	/*margin-top: 5px;*/
	margin-bottom: -5px;
}

.navList li:hover {
	background: #666;
	background: rgba(150, 150, 150, 0.3);
}

/*--------------*/

#user {
	width: 90%;
	max-width: 400px;
	padding: 0 20px;
	margin: 5% auto;
	background: #fff;
	background: rgba(255, 255, 255, 0.9);
	border: 1px solid #000;
	border-radius: 15px;
}

.error {
	color: #f00;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

/*--HOME--*/

#home {
	/*background: #fff;*/
	/*background: rgba(255, 255, 255, 0.9);*/
	overflow-x: hidden;
	padding: 0;
	/*max-width: 95%;*/
	/*max-width: 1300px;*/
	/*max-width: 1300px;
	margin: 0 auto;*/
}

@media screen and (max-width: 700px) {
	#home {
		padding: 0;
	}
}

@media screen and (min-width: 701px) {
	#home {
		/*padding: 0 50px;*/
	}	
}

#myCarousel {
	max-width: 1300px;
	margin: 0 auto;
	padding: 0;
	background: #FFF;
	overflow: hidden;
}

.carouselImage {
	width: 100%;
	max-height: 700px;
}

#about {
	margin: 0;
	width: 100%;
	background: #36f900;
	/*background: rgba(0, 255, 0, 0.9);*/
	padding: 2%;
}

#aboutContent {
	margin: 0;
	padding: 0;
}

#servicesOverviewContent {
	padding-left: 5%;
	padding-right: 5%;
}

.service {
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 0 8%;
	color: #eee;
	font-size: 180%;
}

.serviceImage {
	/*max-width: 300px;*/
	border: 1px solid #555;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.7), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
	/*-webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.75);*/
	transition: box-shadow 1s;
	overflow: visible;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.serviceItem:hover {
	max-width: 300px;
	margin: 0 auto;
	border: 1px solid #777;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

.serviceItem {
	max-width: 300px;
	margin: 0 auto;
	overflow: visible;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.serviceItem:hover {
	/*max-width: 300px;
	margin: 0 auto;
	border: 1px solid #777;
	border-radius: 50%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.8);*/
}

.carousel-inner {
	overflow: visible;
}

.carousel-caption {
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
	bottom: initial;
	text-shadow: 2px 2px 15px #000;
}

#contactHome {
	width: 100%;
	margin: 0;
	padding: 3% 5%;
	/*min-height: 600px;*/
	background: #fff;
	/*background: rgba(255, 255, 255, 0.9);*/
}

.form-control[placeholder]
{
    text-align: center;
}

textarea {
	resize: none;
}

.contactSuccess {
	margin-top: 170px;
	margin-bottom: 170px;
}

#map {
	background: #36f900;
}

#gmap {
	width: 450px;
	height: 250px;
	border: 0;
	margin: 5%;
}

@media screen and (max-width: 500px) {
	#gmap {
		width: 80vw;
	}	
}

#county {
	margin: 5%;
}

.counties {
	width: 175px;
	margin: 5% auto;
	font-size: 110%;
}

footer {
	width: 100%;
	margin: 0;
	color: #fff;
	background: #000;
	background: rgba(0, 0, 0, 0.85);
	overflow: hidden;
	/*max-width: 1400px;
	margin: 0 auto;*/
	max-width: 1300px;
	margin: 0 auto;
}

.footerItem {
	margin: 30px 0;
}

.hoursCol {
	text-align: left;
	padding: 0 15px;
}

.serviceList {
	margin: 0 auto;
	max-width: 250px;
}

.serviceFooter {
	text-align: left;
}

/*--------*/

/*--SERVICES--*/

#services {
	background: #fff;
	padding: 2%;
}

.service-section {
	margin: 5%;
	padding: 3%;
	color: #111;
	box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.8);
}

#lawncare {
	background: #77c953;
}

#landscaping {
	background: #c9b953;
}

#snow-removal {
	background: #e0eec7;
}

.services {
	padding: 0 5%;
}

.service-image {
	box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.8);
	/*max-width: 200px;*/
}

/*------------*/

/*--GALLERY--*/

#gallery {
	background: #fff;
	padding: 2%;
	min-height: 50vh;
}

.imgThumbnail {
	margin: 5% 0;
}

.imgThumbnail:hover {
	cursor: pointer;
}

/*-----------*/

/*--CONTACT--*/

#contact {
	width: 100%;
	margin: 0;
	padding: 3% 5%;
	background: #fff;
}

#contactContent {
	min-height: 51vh;
}

/*-----------*/
